
html{
  background-color: blue;
  font-family: 'Signika', sans-serif;
}

body{ width: 600px;
  margin: 0 auto;
  display: block;
  color: black;
}

h1 {
  margin: 0;
  padding: 20px 0;
  text-shadow: 3px 3px 1px lightgray;
}

h1, h2 {
  font-family: 'Alfa Slab One', cursive;
  text-align: center;
}

#top-image {
  width: 400px;
  display: block;
  margin: 0 auto;
}
